/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    background: #007FE6;
    color: #007FE6;
}

.center{
	background: #A8F7FF;
	max-width: 800px;
	margin: 0 auto;
	padding: 5px;
}

h1{
	font-size: 34px;
	line-height: 40px;
	text-align: center;
	border: 2px solid #007FE6;
}

/*block .size-matrix*/
.size-matrix{

}
/*repeting block title*/
.title{
	font-size: 28px;
	line-height: 34px;
	border-bottom: 1px solid #007FE6;
	margin-bottom: 5px;
	padding: 0px 0px;
}
/*repeting block button*/
.button{
	font-size: 20px;
	line-height: 30px;
	border: 2px solid #007FE6;
	vertical-align: top;
	padding: 0px 5px;
	margin-left: 5px;

	user-select: none;
	cursor: default;

	/*display: inline-block;*/
	float: right;
}
.button:hover{
	background: rgba(255, 255, 255, 0.3);
}
.button:active{
	background: rgba(255, 255, 255, 1);
}
/*repeting block hidden text*/
.hidden-text{
	margin-top: 5px;
	font-size: 20px;
	line-height: 30px;
}
.hidden-text__title{
	text-align: center;
	background: #007FE6;
	color: #A8F7FF;

	user-select: none;
}
.hidden-text__x{
	float: right;
	margin-right: 5px;
}
.hidden-text__text{
	height: 0px;
	overflow: hidden;
	border: 2px dashed #007FE6;
	border-top: none;
	padding: 0px 3px;
}
/*block vvod*/
.vvod{

}
/*repeting block .table-dark*/
.table-dark{
    font-size: 18px;
	line-height: 30px;
	color: #A8F7FF;
	background: #007FE6;
	padding: 2px;
}
.table-dark td, th{
    border: 1px solid #A8F7FF;
    padding: 0px 5px;
}
.table-dark input{
    width: 100%;
    display: block;
    border: none;
    color: #A8F7FF;
    background: transparent;
    border-bottom: 1px dashed black;
    padding: 5px 2px 0 2px;
}
.table-dark input:focus{
    outline: none;
    border-color: #A8F7FF;
}
/*block show*/
.show{
	
}

/*==========================================================================================*/
/*<size-matrix>=============================================================================*/
.size-matrix__title{}
/*FORM*/
.size-matrix__form{
	display: inline-block;
	background: #007FE6;
	color: #A8F7FF;
	padding: 5px;
}
.size-matrix__border-inputs{
	display: inline-block;
	border: 2px solid #A8F7FF;
	padding: 5px;
}
.size-matrix__input{
	color: #A8F7FF;
	background: transparent;
	border: none;
	border-bottom: 1px dashed #000000;
	padding: 5px 2px 0px 2px;
	vertical-align: middle;
}
.size-matrix__button{
	border-color: #A8F7FF;
	vertical-align: middle;
	margin-top: 1px;
}
/*END FORM*/
.size-matrix__hidden-text{}
/*</size-matrix>============================================================================*/
/*<vvod>====================================================================================*/
.vvod__title{}
.vvod__alert-size{
	display: block;
	font-size: 20px;
    line-height: 30px;
	text-align: center;
	border: 2px dashed #007FE6;
}
.vvod__hidden-vvod{
	display: none;
}
.vvod__button{}
#bt_result{}
#bt_reset{}
.vvod__table-dark{}
.vvod__hidden-text{}
/*</vvod>===================================================================================*/
/*<show>====================================================================================*/
.show__title{}
.show__matrix{}
.show__table-dark{}
/*</show>====================================================================================*/
